@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f9f1f3;
    ;
}

#app {
    text-align: center;
}

#app h1 {
    font-weight: 900;
    color: #752E3A;
    font-family: 'Pacifico', cursive;
}

input[type="text"] {
    padding: 10px;
    margin-right: 8px;
    margin-left: 8px;
    font-size: 14px;
    border: none;
}

button {
    padding: 10px 15px;
    background-color: #752E3A;
    color: white;
    border: none;
    border-radius: 10%;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #850218;
    color: white;

}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid #ccc;
}